.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(0, 0%, 98%);
}

h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

button {
  display: flex;
  align-items: center;
  padding: 4px 30px;
  margin-top: 160px;
  margin-bottom: 70px;
  margin-left: 95px;
  background-color: white;
  border: none;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  /* position: absolute;
  top: 14%;
  left: 9%; */
}

button:hover {
  cursor: pointer;
}

.arrowBack {
  font-size: 20px;
  margin-right: 5px;
}

.countryDisplay {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: space-between;
  margin: 0 5% 0 5%;
}

input::placeholder {
  padding-left: 30px;
}

/* later change this property of width when you start to apply mobile desing,it stays for now like 
this so it does not look to ugly on the mobile device */
.searchInput {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
}

.selectOption {
  height: 54px;
  padding: 1px 2px 1px 2px;
  border: none;
  background-color: white;

  box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.1);
}

.searchIcon {
  margin-top: 7px;
  background-color: white;
}

.inputSelectTop {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 2.5% 5% 2.5% 5%;
}

.inputSearchContainer {
  display: flex;
  align-items: center;
  box-shadow: 0px 13px 10px 0px rgba(0, 0, 0, 0.1);

  width: 400px;
}

.countryCard {
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  margin-bottom: 80px;
  height: 360px;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.countryCard:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  transform: scale(1.05, 1.05);
}

.countryInfoMain {
  background-color: hsl(0, 0%, 100%);
  padding: 20px 0px 20px 0px;
}

.countryDetailsContainer {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  margin-left: 140px;
  /* gap: 1.5rem; */
  /* margin-top: 20%; */
}

.countryDetailsContainer p {
  margin-bottom: 8px;
}

.countryDetailsContainer h2 {
  margin-bottom: 20px;
}

.countryDetailsInfo1 {
  /* margin-left: -150px; */
  text-align: left;
  margin-left: 120px;
}

.countryDetailsInfo2 {
  /* margin-right: 20px; */
  text-align: left;
  margin-left: 120px;
  margin-top: -64px;
}

.countryDetailsImage {
  margin-left: -50px;
  width: 400px;
  height: 300px;
  border-radius: 6px;
  /* position: relative; */
}

.borderCountries {
  margin-top: 50px;
}

/* here starts the mobile view css */
@media screen and (max-width: 700px) {
  .countryDisplay {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: center;
  }

  .inputSelectTop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .inputSearchContainer {
    width: 350px;
  }

  .selectOption {
    margin-top: 10%;
    margin-bottom: 15%;
    width: 175px;
    margin-right: 175px;
  }

  /* country details page starts here */
  .countryDetailsContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: flex-start;
  }

  .countryDetailsImage {
    width: 300px;
    height: 200px;
    border-radius: 6px;
    margin: 0 auto;
  }

  button {
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 60px;
  }
  .countryDetailsInfo1 {
    text-align: left;
    margin-left: 10%;
  }
  .countryDetailsInfo1 h2 {
    margin-top: 40px;
  }

  .countryDetailsInfo2 {
    margin-top: 40px;
    margin-left: 10%;
    order: 1;
  }
  .borderCountries {
    margin-top: 40px;
    order: 2;
  }
}
